.venv/
venv/
*venv*
*.pyc
__cache__
.idea
tmp/
.env*
__pycache__
.DS_Store
.pytest_cache
node_modules
dist
static/node_modules
static/dist
static/.env*
.coverage
.coverage.*
.git
static/test*/*
test*/*
htmlcov
tmp/*
latest_silero_models.yml
