-f https://download.pytorch.org/whl/torch_stable.html
torch 
torchaudio 
soundfile 
omegaconf
epitran 
audioread
requests
dtwalign
eng_to_ipa
pandas
flask
flask_cors
pickle-mixin
sqlalchemy
transformers
sentencepiece
transformers
openai-whisper